
    .thumbnail-1
    {
      width: 100%;
      display: inline-block;
      border-radius: 15px;
    }
    .thumbnail-1:hover
    {
      transform: scale(1.05);
    }
    .video-preview
    {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
      margin-bottom: 30px;
    }
    .channel-picture
    {
      display: inline-block;
      width: 50px;
      vertical-align: top;
    }
    .video-info
    { 
      display: inline-block;
      width: 100%;
    }
    .profile-picture
    {
      width: 36px;
      border-radius: 40px;
      cursor: pointer;
    }
  .video-title
    {
      cursor: pointer;
      display: block;
      margin-bottom: 10px;
      font-family: Arial;
      font-size: 14px;
      font-weight: 590;
      display: block;
      font-weight: 700px;
      width: 100%;
    }
    .video-grid
    {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 15px;
      row-gap: 16px;
      width: 100%;
      padding-top: 20px;
      padding-left: 20px;
    }

@media (min-width: 320px) and (max-width:375px)
{
  .video-grid
  {
    padding-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 375px) and (max-width:767px)
{
  .video-grid
  {
    padding-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 768px) and (max-width: 1024px)
   {
    .video-grid
    {
      padding-top: 50px;
      grid-template-columns: 1fr 1fr 1fr;
    }
   }
@media (min-width: 1024px) and (max-width: 1124px) 
{
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1125px) and (max-width: 1440px) 
{
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1440px) and (max-width: 2560px) 
{
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
    .video-info-grid
    {
      display: flex;
      grid-template-columns: 50px 1fr;
    }
    .thumbnail-row
    {
      margin-bottom: 8px;
      position: relative;
    }
    .video-time
    {
      background-color: black;
      color: white;
      position: absolute;
      bottom: 10px;
      right: 15px;
      font-family: Arial;
      font-size: 12px;
      font-weight: 500;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      border-radius: 2px;
      font-weight: bold;

    }
  